body{
    background-color: #FFFBFB !important;
    color: #BD0707 !important;
    text-decoration: none;
}
a{
    color: white;
}
nav {
    height: 7vh;
}
a{
  text-decoration:none
}
.logoi{
    width: 70px;
}
.navbar-brand{
  border: 2px solid #BD0707;
  border-radius: 5px;
  width: 100px;
}
.btn-primary{
  background-color:transparent !important;
}

.btn-primary:hover{
  background-color: #dc3545 !important;
}

.btn-danger {
  background-color: #dc3545 !important;
}

.gambarbawah{
  position: absolute;
  z-index:-1;
  margin-left: 130px !important;
}
.row.atas{
  position: absolute;
  z-index: 0;
  color: white;
}

.container-fluid.justify-content-center.align-items-center.p-5{
  position: absolute;
  z-index: 1;
}

.atas{
  margin-left: 120px !important;
}

.card-img-top{
  height:320px;
}

.card-body{
  color: #BD0707;
  background-color: #efa9b0;
  border-radius: 0px 0px .25rem .25rem;
}